if SHIELD_36_XIAO_BLE_LEFT 

config ZMK_KEYBOARD_NAME
    default "36 Key Xiao BLE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_STUDIO
    default y

config CONFIG_ZMK_SLEEP
    default y

endif

if SHIELD_36_XIAO_BLE_LEFT || SHIELD_36_XIAO_BLE_RIGHT

config ZMK_SPLIT
    default y

endif
